:root {
    --main-color: #FCEED5;
    --Secondary-Color-Mon-Yellow: #F7DBA7;
    --Primary-Color-Dark-Blue: #003459;
    --Neutral-Color-100 : #00171F;
    --bg-color: #FDFDFD;

    --font-primary: "Poppins", sans-serif;
}

body{
    background-color: var(--bg-color);
    font-family: var(--font-primary);
    color: var(--second-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1500px;
}

/* == NAVBAR == */

.navbar{
    background-color: var(--main-color);
    font-weight: 500;
    color: var(--Primary-Color-Dark-Blue);
}

.navbar .nav-wrapper{
    display: flex;
    padding: 28px 130px;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper .menu-wrapper{
    display: flex;
    gap : 50px;
}
.nav-wrapper .menu-wrapper .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* == HERO == */

.hero {
    border-radius: 0 0 40px 40px;
    background: var(--Linear, linear-gradient(103deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%));
    height: 695px;
    padding: 80px 0;
    position: relative;
    overflow : hidden;
}

.hero__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  height: 100%;
}

.hero__content {
  flex: 1;
}

.hero__content h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  text-transform: capitalize;
  color: var(--Primary-Color-Dark-Blue);
}

.hero__content h2 {
  font-size: 46px;
  font-weight: 700;
  margin: 12px 0;
  color: var(--Primary-Color-Dark-Blue);
}

.hero__content p {
  max-width: 480px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
}

.hero__actions {
  display: flex;
  gap: 16px;
}

.btn-primary {
  background: var(--Primary-Color-Dark-Blue);
  color: white;
  padding: 12px 28px;
  border-radius: 999px;
  border: none;
}

.btn-outline {
  background: transparent;
  border: 2px solid #003459;
  color: var(--Primary-Color-Dark-Blue);
  padding: 12px 28px;
  border-radius: 999px;
}

.hero__visual {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  
}

.hero__shape {
  position: absolute;
  width: 635px;
  height: 635px;
  background: var(--Primary-Color-Dark-Blue);
  border-radius: 99px;
  transform: rotate(9.355deg);
  z-index: 1;
  top : -50px;
  
}

.hero__shape2{
    position: absolute;
    width: 635px;
    height: 700px;
    transform: rotate(25.23deg);
    border-radius: 99px;
    background: var(--Secondary-Color-Mon-Yellow, #F7DBA7);
    z-index: 2;
    right : -80px;
    top : -120px
}

.hero__visual img {
    position: absolute;
    width: 1044px;
    height: 793px;
    top: -350px;
    z-index: 3;
}

/* == DOG CONTENT == */
.pets{
    padding: 0 70px 0 70px;
}

.pets__header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.pets__title h3{
    color: var(--Primary-Color-Dark-Blue);
    font-weight: 700;
    font-size: 24px;
}

.pets__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.dog-card {
  background: white;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform .3s ease, box-shadow .3s ease;
}

.dog-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 32px rgba(0,0,0,0.12);
}

.dog-image {
  width: 100%;
  height: 264px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
}

.dog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.dog-content h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  color : var(--Neutral-Color-100);
}

.dog-meta {
  font-size: 12px;
  color: #667479;
  margin-bottom: 8px;
}

.dog-price {
  font-size: 14px;
  font-weight: 700;
  color: var(--Neutral-Color-100);
}

/* == BANNER == */
.banner {
    margin:24px 70px 24px 70px ;
    border-radius: 20px;
    padding: 0 70px 0 70px;
    background-color: var(--Primary-Color-Dark-Blue);
}



